/* 中间分类部分 */
.grid {
    height: 480px;
}
.grid-colone {
    width: 190px;
    height: 100%;
    background-color: #fff;
    font-size: 12px; /*给反斜杠的字体大小*/
    color: #666;
    font-weight: 300;
    position: relative;
}
.grid-colone ul {
    border-top: 1px solid #dbd6d6ec;
    padding: 15px 0;
}
.grid-colone ul li {
    padding-left: 18px;
    height: 28px;
    line-height: 28px;
}
.grid-colone li:hover {
    background-color: #dbd6d6ec;
}
.grid-colone a {
    font-size: 14px;
    color: #666;
    font-weight: 300;
}
.grid-colone a:hover {
    color: #c81623;
}
/* 分类广告 */
.grid-colone .ad {
    position: absolute;
    width: 250px;
    height: 480px;
    top: 0px;
    left: -250px;
}
.grid-colone .ad_r {
    position: absolute;
    top: 0px;
    left: 250px;
    z-index: 999;
    width: 0px;
    height: 480px;
    background: url(../images/lyhdetail.jpg) no-repeat;
    /*添加过渡 */
    transition: all 0.8s;
}
/*鼠标经过ad的时候 ad_r的宽度改为990px*/
.grid-colone .ad:hover .ad_r{
    width: 990px;
}
/* 广告banner 部分 */
.grid-coltwo {
    width: 790px;
    height: 100%;
    margin-left: 10px;
}
.grid-coltwo-l {
    margin-top: 10px;
}
.grid-coltwo-r a{
    margin-top: 10px;
    display: block;
    width: 190px;
    height: 150px;
}
.grid-coltwo-r li:nth-child(1) {
    background: url(../images/a.jpg) no-repeat;
    background-size: 190px 150px;
}
.grid-coltwo-r li:nth-child(2) {
    background: url(../images/b.jpg) no-repeat;
    background-size: 190px 150px;
}
.grid-coltwo-r li:nth-child(3) {
    background: url(../images/c.jpg) no-repeat;
    background-size: 190px 150px;
}
/* 翻页部分 */
.grid-coltwo-l {
    position: relative;
}
.grid-coltwo-l i {
    font-style: normal;
}
.arr-l, .arr-r {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);/*按钮靠边垂直居中*/
    width:24px;
    height: 40px;
    background-color: rgba(0,0,0,.2);
    line-height: 40px;
    color: rgba(255,255,255,.4);
    text-align: center;
}
.arr-r {
    right: 0px;
}
.arr-l:hover, .arr-r:hover {
    background-color: rgba(0,0,0,.4);
    color: rgba(255,255,255,.4);
}
.circle {
    position: absolute;
    width: 175px;
    height: 20px;
    background-color: rgba(255, 255, 255, .3);
    left: 50%;
    transform: translateX(-50%); /*设置元素水平居中*/
    bottom: 20px;
    border-radius: 10px;
    padding-left: 8px;
    box-sizing: border-box;
}
.circle li {
    list-style: none;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 4px;
}
.circle .current {
    background-color: #f10215;
}
.circle li:hover {
    background-color: #f10215;
    cursor: pointer;
}
/* 扩展模块 */
.grid-colthree {
    margin-top: 10px;
    width: 190px;
    height: 470px;
    background-color: #fff;
}
/* 登陆 */
.grid-colthree .login {
    height: 85px;
    padding: 15px;
}
.login-t {
    width: 95px;
    font-size: 12px;
    white-space: nowrap; /*强制一行内显示*/
    overflow: hidden; /*溢出隐藏*/
    text-overflow: ellipsis; /*超出的部分显示省略号*/
    color: #666;
    padding-left: 60px;
    height: 60px;
    line-height: 20px;
    position: relative;
}
.login-t a {
    color: #666;
}
.user {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.user img {
    width: 40px;
    border-radius: 50%;
    margin: 5px;
}
.login-t a:hover {
    color: #f10215;
}
.login-b a{
    display: inline-block;
    width: 70px;
    height: 25px;
    border-radius: 13px;
    /* border: 1px solid rgba(0, 0, 0, .2); */
    line-height: 25px;
    color: #e43f3b;
    font-size: 12px;
    text-align: center;
    margin-right: 3px;
    box-shadow: 4px 6px 12px 2px rgba(45,45,45,.15);
}
.login-b a:last-child {
    background-color: #363634;
    color: #e5d790;
}
.login-b a:hover {
    background-color: #e43f3b;
    color: #fff;
}
/* 新闻 */
.grid-colthree .news {
    height: 155px;
    padding: 7px 13px 0;
    box-sizing: border-box;
}
.new-t {
    height: 19px;
    position: relative;
}
.new-t a {
    float: left;
    height: 17px;
    width: 38px;
    line-height: 17px;
}
.cx {
    border-right: 1px solid #ccc;
}
.gg {
    margin-left: 15px; 
}
.new-t .more {
    float: right;
}
.new-t div {
    height: 2px;
    width: 28px;
    background-color: #f10215;
    position: absolute;
    bottom: -1px;
}
.new-b {
   padding-top: 15px;
}
.new-b li {
    height: 23px;
    line-height: 23px;
    color: #999;
    font-size: 12px;

}
/* 服务扩展 */
.grid-colthree .expand {
    height: 195px;
    overflow: hidden;
}
.expand ul {
    width: 195px;
}
.expand li {
    width: 47px;
    height: 66px;
    float: left;
}
.expand li a {
    display: block;
    padding-top: 15px;
    text-align: center;
}
.expand li i {
    display: block;
    margin: 0 auto;
    background: url(../images/sprite.service.png) no-repeat;
    overflow: hidden;
    font-style: normal;
}
.expand li:first-child i {
    background-position: -145.5px -43px;
    height: 24px;
    width: 24px;
}
.expand li:nth-child(2) i {
    background-position: -29px -43px;
    height: 24px;
    width: 24px;
}
.expand li:nth-child(3) i {
    background-position: -175.5px -43px;
    height: 24px;
    width: 24px;
}
.expand li:nth-child(4) i {
    background-position: -87.5px -43px;
    height: 24px;
    width: 24px;
}
.expand li:nth-child(5) i {
    background-position: -116.5px -43px;
    height: 24px;
    width: 24px;
}
.expand li:nth-child(6) i {
    background-position: -117.5px -72px;
    height: 24px;
    width: 24px;
}
.expand li:nth-child(7) i {
    background-position: -58.5px -43px;
    height: 24px;
    width: 24px;
}
.expand li:nth-child(8) i {
    background-position: -1.5px -72px;
    height: 24px;
    width: 24px;
}
.expand li:nth-child(9) i {
    background-position: -30.5px -72px;
    height: 24px;
    width: 24px;
}
.expand li:nth-child(10) i {
    background-position: -58.5px -72px;
    height: 24px;
    width: 24px;
}
.expand li:nth-child(11) i {
    background-position: -86.5px -72px;
    height: 24px;
    width: 24px;
}
.expand li:nth-child(12) i {
    background-position: -0.5px -43px;
    height: 24px;
    width: 24px;
}
